<div class="footer p-3 mb-2 bg-dark text-white">
    <div class="row align-items-center">
        <div class="col text-light">
        Powered by Vanina Riba
        </div>
        <div class="col">
            <a href="http://instagram.com"><img src="/img/instagram.png" class="img"></a>
         </div>
        <div class="col">
            <a href="http://facebook.com"><img src="/img/facebook.png" class="img"></a>
        </div>
        <div class="col">
            <a href="http://whatsapp.com"><img src="/img/whatsapp.png" class="img"></a>
        </div>
    </div>
</div>
