<div class="row">
    <div class="card col-md-4 mx-auto">
        <div class="card-header">
        Dejenos un mensaje:
        </div>
        <div class="card-body">
            <form action="/users/signup" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{nombre}}">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
            </div>
            <div class="form-group">
                <textarea type="text" class="form-control" name="consulta" placeholder="consulta"></textarea>
            </div>
         </div>
        <button class="btn btn-primary btn-block"type="submit">Enviar</button>

        </form>
    </div>
</div>